/* CSS by Jungyi Doong */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root{
    font-size: 16px;
    --Yellow:#F6D64A;
    --Teal:#55BCD5;
    --Purple: #9B26B0;
    --Blue:#499BD2;
    --Dark-Gray:#222222;
    --Light-gray: #EAEAEA;
    --White:#FFFFFF;
    --Black:#000000;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
    font-family: Molle, cursive;
    font-family: Montserrat, sans-serif;
}


  /* skip link styles */
  #skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  #skip:focus{
    position: static;
    width: auto;
    height: auto;
  }



h1, h2, h3{
    font-family: 'Molle', cursive;
    font-style: normal;
    font-weight: normal;
}

h4, p, q, small, nav, button, form{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: var(--Dark-Gray);
}

p{
    line-height: 30px;
}

h1{
    font-size: 3.125rem;
}

h2, h3{
    font-size: 2.5rem;
}

h4{
    font-size: 1.625rem;
}

#plan h4{
    font-weight: bold;
    text-transform: uppercase;
}

#testimonials h4{
    font-size:1.875rem;
}

p, label, input, select, legend, q{
    font-size:1.25rem;
}
#intro p{
    font-size:1rem;
}

footer p, footer a{
    font-size:1rem;
}

.sr-only{
    display: none;
}


#menu-toggle input[type="checkbox"] {
    display: none;
}

#logo img{
    width: 100%;
    max-width: 160.298px;
}

header{
    background: linear-gradient(180deg, #55BCD5 0%, rgba(255, 255, 255, 0.00) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    align-items:center;

}

header img{
    grid-area: 1/1/2/2;
}

#menu-toggle label{
    grid-area: 1/2/2/3;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: var(--Yellow);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    grid-area: 2/1/3/3;
    margin-top: 1rem;
}

header p{
    grid-area: 3/1/4/3;
    width: 80%;
}

header p, header h1{
    margin-left: 3rem;
}

#plan{
    background-color: var(--Yellow);
}

#main-content img{
    width: 100%;
}

#intro h2, #intro p, #testimonials, #contact{
    margin: auto;
    width: 80%;
}

article{
    margin-top: 4rem;
}

#img-grid{
    display: grid;
    gap: 1rem   ;
}

#plan{
    padding-bottom: 1.5rem;
}

#plan div{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    gap: 0.5rem;
}

#plan h3{
    padding: 1rem;
    width: 80%;
    margin: auto;
}

#plan img{
    width: 100%;
    height: 150px;
}

#plan section{
    background-color: var(--Teal);
    border: solid 3px var(--White);
    border-radius: 1rem;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#testimonials{
    padding-top: 4rem;
    padding-bottom: 2rem;
}

#testimonials img{
    width: 200px;
}

#testimonials h4{
    font-weight: bolder;
    margin-top: 1rem;
    text-transform: uppercase;

}

#testimonials q{
    line-height: 1.5rem;
    font-style: italic;
}

#testimonials div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 85%;
    margin: auto;
}

#testimonials section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#about{
    background-color: var(--Blue);
    padding-bottom: 1rem;
}

#about h3{
    padding: 2rem 0;
    width: 80%;
    margin: auto;
}

#about div{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1.2rem;
}

#about h4{
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

#about section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#about img{
    width: 100px;
    height: 100px;
}

.form-required{
    font-size: 1.25rem;
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
}

#contact h3{
    padding-top: 1.5rem;
}

#names, #nums, #selects, fieldset{
    display: flex;
    flex-direction: column;
}

form label, fieldset{
    font-weight: bolder;
    margin-top: 1rem;
    text-transform: uppercase;
}

fieldset label{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    font-weight: normal;
    text-transform: none;
}

.required{
    color: var(--Purple);
}

form input{
    height: 67px;
    border: var(--Purple) solid 3px;
}

::placeholder, select {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    font-family: Montserrat;
    color: var(--Dark-Gray);
    padding-left: 1rem;
  }

  select{
    padding-left: 1rem;
    width: 100%;
    height: 67px;
    border: var(--Purple) solid 3px;

  }

  input[type=submit]{
    background-color: var(--Purple);
    margin-top: 1rem;
    color: var(--White);
    font-family: Montserrat;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  footer{
    background-color: var(--Light-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--Dark-Gray);
    padding: 1rem 0 2rem 0;

  }

  footer a{
    text-decoration: none;
    color: var(--Dark-Gray);
    padding-top: 1rem;
  }

  /* -----radio button------- */
  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
  }

input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 75px;
    height: 75px;
    border: 0.15em solid var(--Purple);
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type="radio"]::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 3em 3em var(--Purple);
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  /* -------radio end------- */



/* --------------------------------------- medium screen ---------------------------------------*/


@media screen and (max-width: 768px){

    /* nav button */
body{
    z-index: 0;
}

#menu-toggle ul li{
    background-color: var(--Teal);
    border-bottom: 1px solid #000;
    text-align: center;
    padding-top: 41px;
    padding-bottom: 41px;
}

#menu-toggle ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--Black);
    text-align: center;
    font-weight: bolder;
}

#menu-toggle ul{
    visibility: hidden;
    margin-top: 50px;
}

#menu-toggle{
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
}

#menu-toggle label{
    width:50%;
    position: absolute;
    left: 50%;
}

#menu-toggle input:checked ~ ul {
    visibility: visible;
    flex-direction: column;
    text-align: right;
    width: 100%;
}
}

/* nav button end  */


@media screen and (min-width: 768px) {

    header{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr;
    }


    #logo img{
        width: 100%;
        max-width: 236px;
    }

    header img{
        grid-area: 1/1/3/2;
    }

    nav{
        grid-area: 3/1/4/-1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    h1{
        grid-area: 1/2/2/4;
    }

    header p{
        grid-area: 2/2/3/4;
        width: 80%;
    }


    #menu-toggle label{
        display: none;
    }

    #menu-toggle{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul{
        display: flex;
        gap: 1rem;
    }

    nav ul li{
        width: 140px;
        background-color: var(--White);
        padding: 1rem 0.5rem;
        text-align: center;
    }

    nav ul li:hover{
        background-color: var(--Yellow);
    }

    #img-grid{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #img-grid img{
        max-width: 100%;
        object-fit: cover;
    }

    picture{
        grid-column: 1/-1;
    }

    #intro{
        margin-bottom: 2rem;
    }

    #plan div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #toggle{
        display: none;
    }

    nav ul li a{
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        color: var(--Black);
        font-weight: bold;
        }

    #testimonials div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #about div{
        grid-template-columns: repeat(4, 1fr);
    }

    fieldset{
        flex-direction: row;
        justify-content: space-between;
    }

    input[type=submit]{
        width: 40%;
        align-self: flex-end;
    }

    form{
        display: flex;
        flex-direction: column;
    }

    footer{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;

    }

  }

/* --------------------------------------- large screen ---------------------------------------*/


  @media screen and (min-width: 1920px) {

    header{
        grid-template-columns: 258px 1fr 1fr;
        grid-template-rows: 50px 1fr ;
        align-items: stretch;
    }

    #logo img{
        width: 100%;
        max-width: 358px;
    }

    header img{
        grid-area: -1/1/2/2;
    }

    header a{
        grid-area: 2/1/3/2;
    }

    nav{
        grid-area: 1/3/2/4;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    h1{
        grid-area: 2/2/3/3;
        margin-left: 0;
    }

    header p{
        width: 80%;
        align-self: flex-end;
    }

    header p, header h1 {
        margin-left: 0;
    }

    #intro{
       display: grid;
       grid-template-columns: 1fr 1fr ;
       grid-template-rows: 1fr;
    }


    #intro h2{
        left: 10%;
        top: 210px;
        position: absolute;
    }

    #intro div{
       grid-area: 1/2/-1/3;
       justify-self: self-end;
    }

    #intro p{
        left: 10%;
        top: 260px;
        position: absolute;
        overflow: visible;
        width: 40%;
        height: 174px;
    }

    #plan div{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:1fr;
    }

    #plan{
        padding: 4rem 0;
    }

    #testimonials div{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:1fr;
    }

    #about div{
        display: flex;
        justify-content: center;
        gap: 6rem;
    }

    #about{
        padding-bottom: 3rem
    }

    #contact{
        padding-bottom: 7rem;
    }

    fieldset label{
        gap: 0;
    }

    form{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    input[type=submit]{
        width: 50%;

    }

   

    footer{
        display: grid;
        grid-template-columns: 6fr 1fr 1fr;
        padding-left: 10%;
        padding-right: 10%;
    }

    footer a{
        width: 100%;
        margin: 0;
        text-align: right;
    }


  }